/*** SLIDER ***/
.slide-container {
  height: 180px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;

}

.slider-image {
  position: absolute;
  animation: fade 12s infinite;
  opacity: 0;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
  The .slider-image elements are positioned absolutely within the container using top: 50%; and left: 50%;. The transform: translate(-50%, -50%); moves them back by 50% of their own width and height, effectively centering them both vertically and horizontally.
  */
}

@keyframes fade {
  33% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
}

img:nth-child(1) {
  animation-delay: 8s;
}

img:nth-child(2) {
  animation-delay: 4s;
}

img:nth-child(3) {
  animation-delay: 0s;
}